<!DOCTYPE html>
<html>
<head>
  <title>MicroArray</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "#{params[:controller]}" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <h3><a href="#">MicroArray</a></h3>
        <ul class="nav">
          <li class="active"><%= link_to 'Home', root_url %></li>
        </ul>
      </div>
    </div>
  </div>  
  <div class="container">
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
